* {
    box-sizing: border-box;
    text-align: center;
}
body {
    background-color: $background-color;
    font-size: $paragraph-font-size;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 50px auto 0 auto;
    padding: 0 15px;
    @media screen and (max-width: 767px) {
    margin-left: 0 !important;
    }
}

.container-fluid {
    width: 100%;
    padding: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li a {
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
    height: inherit;
    width: inherit;
    padding: 0;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
}
.inline-flex-container {
    display: -webkit-inline-flex;
    display: inline-flex;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.row::before, 
.row::after {
    content: "";
    display: table ;
    clear: both;
}

[class*="col-"]{
    min-height: 1px;
    padding: 12px; 
}

@for $i from 1 through 12 {
    .col-sm-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        width: $width;
        max-width: $width;
    }
}

@for $i from 1 through 12 {
    .col-md-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        width: $width;
        max-width: $width;
    }
}

@for $i from 1 through 12 {
    .col-lg-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        width: $width;
        max-width: $width;
    }
}

@for $i from 1 through 12 {
    .col-xl-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        width: $width;
        max-width: $width;
    }
}

@mixin grid($prefix) {
    @for $i from 1 through 12 {
        .col-#{$prefix}-#{$i} {
            $width: 100% / 12 * $i;
            flex: 0 0 $width;
            width: $width;
            max-width: $width;
        }
    }
}

@media(max-width: 767px) {
    @include grid('sm');
}
@media(min-width: 768px) {
    @include grid('md');
}
@media(min-width: 992px) {
    @include grid('lg');
}
@media(min-width: 1200px) {
    @include grid('xl');
}

@for $j from 1 through 12 {
    .col-offset-sm-#{$j} {
        $width: 100% / 12 * $j;
        margin-left: $width;
        }
}
@for $j from 1 through 12 {
    .col-offset-md-#{$j} {
        $width: 100% / 12 * $j;
        margin-left: $width;
        }
}
@for $j from 1 through 12 {
    .col-offset-lg-#{$j} {
        $width: 100% / 12 * $j;
        margin-left: $width;
        }
}
@for $j from 1 through 12 {
    .col-offset-xl-#{$j} {
        $width: 100% / 12 * $j;
        margin-left: $width;
        }
}
@mixin grid($prefix) {
    @for $j from 1 through 12 {
        .col-offset-#{$prefix}-#{$j} {
            $width: 100% / 12 * $j;
            margin-left: $width;
        }
    }
}

@media(max-width: 767px) {
    @include grid('sm');
}
@media(min-width: 768px) {
    @include grid('md');
}
@media(min-width: 992px) {
    @include grid('lg');
}
@media(min-width: 1200px) {
    @include grid('xl');
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* Column offsets */
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}

h3 {
	font: bold 1em $paragraph-font;
	color:  $grey4;
}
.center {
    justify-content: center;
}