/* Colors */
$background-color: #F5F5F2;
$paragraph-color: #E5E5E5;
$sidebar-color: #191919;
$grey3: #BABABA;
$topbar-font-color: #979797;
$grey4: #979797;
$brand-main-color: #ff0000;
$dark-orange: #F58220;
$orange: #FFA220;
$grey2: #E3E3E3;
$line-hover: #F1F3F3;

/*font sizes */
$paragraph-font-size: 16px;

/* fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
