@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "sections/topbar";
@import "sections/sidebar";
@import "sections/container";
@import "components/buttons";
@import "components/linksetc";

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
li a {
	display: block;
}
a {
	text-decoration: none;
	color: inherit;
	height: inherit;
	width: inherit;
	padding: 0;
}
/**
Later
Components
@import "components/form_field";
Sections
@import "section/registration_form";
Pages / Views
@import "pages/registration";
*/
