@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "sections/sidebar";
@import "sections/topbar";
@import "components/sidebar_buttons";
@import "components/topbar_button";

body {
	background-color: $background-color;
}
ul {
	font-size: 14px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}

/**
Later
Components
@import "components/form_field";
Sections
@import "section/registration_form";
Pages / Views
@import "pages/registration";
*/
