.topbar_button {
	display: inline-block;
	background-color: inherit;
	line-height: 49px;
	padding: 0 20px;
	font-size: 1.2em;
	border-left: solid 1px #E3E3E3;
	color: $grey4;
	&:first-of-type {
		padding-top: 3px;
	}
	&:hover {
			cursor: pointer;
	}
	@media screen and (max-width: 767px) {
	padding: 0 10px;
		&:last-of-type {
			border-right: solid 1px #E3E3E3;
		}
	}		
}
.hamburger {
		display: none;
		@media screen and (max-width: 767px) {
			display: block;	
		}
}
.sidebar-button {
	display: block;
	height: 40px;
	color: $grey4;
	font-size: 1.1em;
	line-height: 40px;
	transition: 0.3s;
	& a {
		text-align: left;
		padding-left: 1em;
		@media screen and (max-width: 767px) {
		text-align: center;
		padding-left: 0;
		}
	}
	&:hover {
		background-color: #282828;
		border-left: $dark-orange solid 4px;
		color: $grey3;
	}
}
button {
	border: none;
	font-size: 1em;
	padding: 10px 20px;
	border-radius: 5%;
	margin: 10px;
	box-shadow: 0 0 1px 1px;
	color: #FFFFFF;
	transition: 0.3s;
	&:focus {
		outline: none !important;
	}
	&.btn-orange {
		background-color: $dark-orange;
		&:hover {
			background-color: $orange;
			cursor: pointer;
		}
	}
	&.btn-grey {
		background-color: $grey4;
		&:hover {
			background-color: $grey3;
			cursor: pointer;
		}
	}
	&.btn-charts {
		background-color: #FFFFFF;
		color: $grey4;
		box-shadow: none;
		&:hover {
			background-color: $grey1;
			cursor: pointer;
		}
		&:focus {
			background-color: $grey1;
		}
		&:active {
			background-color: $grey1;
		}
	}
}

.back {
}