.topbar_button {
	display: inline-block;
	float: right;
	line-height: 59px;
	margin: 0;
	padding: 0 20px;
	text-align: center;
	font-family: sans-serif; 
	font-size: 1.2em;
	border-left: solid 1px #E3E3E3;
	color: #979797;
}