.paragraph {
	font-family: $paragraph-font;
 	background-color: white;
	margin: 1em auto;
	box-shadow: 0 0 8px 1px $grey2;
	overflow: hidden;
	padding: 0 0 1em 0;
	color: $grey4;
	& header {
		display: flex;
		width: 100%;
		border-bottom: 1px solid $grey2;
		padding: 1em;
		text-transform: uppercase;
		color: $grey4;
	}
}
.brd-line {
	width: 100%;
	margin: 1em 0 0 0;
	border-bottom: 1px solid $grey2;
}
.charts {
	margin-top: 2em;
	padding: 0;
	& h3 {
		display: block;
		text-align: left;
		margin: 0;
	}
	& div {
		display: block;
	}
}
#red {
	color: red;
}