.sidebar {
	position: fixed;
	left: 0;
	display: inline-block;
	height: 100%;
	font-family: $brand-font;
	top: 0;
	background-color: $sidebar-color;
	padding: 0;
	z-index: 999;
	transition: .6s;
	@media screen and (max-width: 767px) {
		transform: translate3d(-100vw, 0, 0);
	}
}
.logo {
	font-family: "mansalva";
	margin: 0;
	height: 50px;
	width: 100%;
	padding: 0.5em 12px;
	border-bottom: 1px solid $grey4;
	color: $grey3;
	font-size: 1.5em;
	overflow: visible;
}
.menu {
	margin: 0;
	border-bottom: solid 1px $grey4;
	padding: 1em 0;
	& svg {
		fill: $grey3;
	}
}
.chat {

}